/* Footer */
.footer {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    background-color: var(--footer-backcolor);
    padding: 15px 10px;
    color: var(--footer-forecolor);
    /* text-shadow: 2px 2px 8px var(--white); */
    box-shadow: inset 0px 2px 1px -1px rgba(255, 255, 255, 0.2),
        0px 1px 1px 0px rgba(255, 255, 255, 0.14), 0px 1px 3px 0px rgba(255, 253, 253, 0.12);
}

.footer-logo {
    display: flex;
    flex-flow: column nowrap;
    width: 32px;
    align-items: center;
}

.footer-date {
    align-self: flex-end;
    color: var(--black);
    text-shadow: none;
}